<% if false %>
    <div class="container shaded">
      <div id="inner-nav" class="row">
        <h2 class="three columns left-center">UI Kit</h2>
        <ul class="six columns pull_right">
          <li>
            <div class="medium metro rounded btn "><a href="/docs/grid/">The Grid</a></div>
          </li>
          <li>
            <div class="medium metro rounded btn  active "><a href="/docs/ui-kit/">UI Kit</a></div>
          </li>
          <li>
            <div class="medium metro rounded btn "><a href="/docs/sass/">Sass</a></div>
          </li>
          <li>
            <div class="medium metro rounded btn "><a href="/docs/javascript/">JavaScript</a></div>
          </li>
          <li>
            <div class="medium metro rounded btn "><a href="/demo">Demo</a></div>
          </li>
        </ul>
      </div>
    </div>
<% end %>