<% content_for :body_class, "page-grid" %>

<div class="pretty navbar" gumby-fixed="top" id="nav3">
  <div class="row">
    <a class="toggle" gumby-trigger="#nav3 > .row > ul" href="#"><i class="icon-menu"></i></a>
    <h1 class="four columns logo">
      <a href="#">
        <img src="/assets/gumby_mainlogo.png" gumby-retina />
      </a>
    </h1>
    <ul class="eight columns">
      <li><%= link_to("GRID", pages_grid_path) %></li>
      <li><%= link_to("UI", pages_ui_path) %></li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="twelve columns special head">
      <h1>Gumby <strong class="rails">on Rails</strong></h1>
      <h2>A <span>responsive <span>960</span> grid</span>
      from <a href="#">Digital Surgeons</a></h2>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>940px</p>
    </div>
  </div>

  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="eleven columns">
      <p>860px</p>
    </div>
  </div>

  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns">
      <p>60px</p>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <p>140px</p>
    </div>
    <div class="ten columns">
      <p>780px</p>
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <p>140px</p>
    </div>
    <div class="two columns">
      <p>140px</p>
    </div>
    <div class="two columns">
      <p>140px</p>
    </div>
    <div class="two columns">
      <p>140px</p>
    </div>
    <div class="two columns">
      <p>140px</p>
    </div>
    <div class="two columns">
      <p>140px</p>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <p>220px</p>
    </div>
    <div class="nine columns">
      <p>700px</p>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <p>220px</p>
    </div>
    <div class="three columns">
      <p>220px</p>
    </div>
    <div class="three columns">
      <p>220px</p>
    </div>
    <div class="three columns">
      <p>220px</p>
    </div>
  </div>

  <div class="row">
    <div class="four columns">
      <p>300px</p>
    </div>
    <div class="eight columns">
      <p>620px</p>
    </div>
  </div>

  <div class="row">
    <div class="four columns">
      <p>300px</p>
    </div>
    <div class="four columns">
      <p>300px</p>
    </div>
    <div class="four columns">
      <p>300px</p>
    </div>
  </div>

  <div class="row">
    <div class="five columns">
      <p>380px</p>
    </div>
    <div class="seven columns">
      <p>540px</p>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <p>460px</p>
    </div>
    <div class="six columns">
      <p>460px</p>
    </div>
  </div>

  <!-- Offset Tests -->

  <div class="row">
    <div class="twelve columns special">
      <p>Columns pushed right by 'x'</p>
    </div>
  </div>
  <div class="row">
    <div class="eleven columns push_one">
      <p>11 Columns Push 1</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="ten columns push_one">
      <p>10 Columns Push 1</p>
    </div>
  </div>
  <div class="row">
    <div class="ten columns push_two">
      <p>10 Columns Push 2</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="nine columns push_two">
      <p>9 Columns Push 2</p>
    </div>
  </div>
  <div class="row">
    <div class="nine columns push_three">
      <p>9 Columns Push 3</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="eight columns push_three">
      <p>8 Columns Push 3</p>
    </div>
  </div>
  <div class="row">
    <div class="eight columns push_four">
      <p>8 Columns Push 4</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="seven columns push_four">
      <p>7 Columns Push 4</p>
    </div>
  </div>
  <div class="row">
    <div class="seven columns push_five">
      <p>7 Columns Push 5</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="six columns push_five">
      <p>6 Columns Push 5</p>
    </div>
  </div>
  <div class="row">
    <div class="six columns push_six">
      <p>6 Columns Push 6</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="five columns push_six">
      <p>5 Columns Push 6</p>
    </div>
  </div>
  <div class="row">
    <div class="five columns push_seven">
      <p>5 Columns Push 7</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="four columns push_seven">
      <p>4 Columns Push 7</p>
    </div>
  </div>

  <div class="row">
    <div class="four columns push_eight">
      <p>4 Columns Push 8</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="three columns push_eight">
      <p>3 Col Push 8</p>
    </div>
  </div>

  <div class="row">
    <div class="three columns push_nine">
      <p>3 Col Push 9</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="two columns push_nine">
      <p>2 - Push 9</p>
    </div>
  </div>


  <div class="row">
    <div class="two columns push_ten">
      <p>2 - Push 10</p>
    </div>
  </div>
  <div class="row">
    <div class="one columns">
      <p>60px</p>
    </div>
    <div class="one columns push_ten">
      <p>60px</p>
    </div>
  </div>


  <div class="row">
    <div class="one columns push_eleven">
      <p>60px</p>
    </div>
  </div>

  <!-- Centering tests -->

  <div class="row">
    <div class="twelve columns special">
      <p>Centered Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="eleven columns centered">
      <p>11 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="ten columns centered">
      <p>10 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="nine columns centered">
      <p>9 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="eight columns centered">
      <p>8 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="seven columns centered">
      <p>7 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="six columns centered">
      <p>6 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="five columns centered">
      <p>5 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="four columns centered">
      <p>4 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="three columns centered">
      <p>3 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="two columns centered">
      <p>2 Columns</p>
    </div>
  </div>

  <div class="row">
    <div class="one columns centered">
      <p>1 Col</p>
    </div>
  </div>

</div> <!--! end of #container -->



<!-- Sixteen Column Grid /-->

<section class="sixteen colgrid">


<div class="container">

    <div class="row">
      <div class="sixteen columns special">
        <p>Responsive 16 Column Grid</p>
      </div>
    </div>

    <div class="row">
      <div class="sixteen columns">
        <p>940px</p>
      </div>
    </div>

    <div class="row">
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="fifteen columns">
        <p>880px</p>
      </div>
    </div>

    <div class="row">
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
      <div class="one columns">
        <p>40</p>
      </div>
    </div>

    <div class="row">
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="fourteen columns">
        <p>820px</p>
      </div>
    </div>

    <div class="row">
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="two columns">
        <p>100px</p>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <p>160px</p>
      </div>
      <div class="thirteen columns">
        <p>760px</p>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <p>160px</p>
      </div>
      <div class="three columns">
        <p>160px</p>
      </div>
      <div class="four columns">
        <p>220px</p>
      </div>
      <div class="three columns">
        <p>160px</p>
      </div>
      <div class="three columns">
        <p>160px</p>
      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <p>220px</p>
      </div>
      <div class="twelve columns">
        <p>700px</p>
      </div>
    </div>

    <div class="row">
      <div class="four columns">
        <p>220px</p>
      </div>
      <div class="four columns">
        <p>220px</p>
      </div>
      <div class="four columns">
        <p>220px</p>
      </div>
      <div class="four columns">
        <p>220px</p>
      </div>
    </div>

    <div class="row">
      <div class="five columns">
        <p>280px</p>
      </div>
      <div class="eleven columns">
        <p>640px</p>
      </div>
    </div>

    <div class="row">
      <div class="five columns">
        <p>280px</p>
      </div>
      <div class="six columns">
        <p>340px</p>
      </div>
      <div class="five columns">
        <p>280px</p>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <p>340px</p>
      </div>
      <div class="ten columns">
        <p>580px</p>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <p>340px</p>
      </div>
      <div class="four columns">
        <p>220px</p>
      </div>
      <div class="six columns">
        <p>340px</p>
      </div>
    </div>

    <div class="row">
      <div class="seven columns">
        <p>400px</p>
      </div>
      <div class="nine columns">
        <p>520px</p>
      </div>
    </div>

    <div class="row">
      <div class="seven columns">
        <p>400px</p>
      </div>
      <div class="two columns">
        <p>100px</p>
      </div>
      <div class="seven columns">
        <p>400px</p>
      </div>
    </div>

    <div class="row">
      <div class="eight columns">
        <p>460px</p>
      </div>
      <div class="eight columns">
        <p>460px</p>
      </div>
    </div>

    <!-- Offset Tests -->

     <div class="row">
      <div class="sixteen columns special">
        <p>Columns pushed right by 'x'</p>
      </div>
    </div>
    <div class="row">
        <div class="fifteen columns push_one">
            <p>15 Columns Push 1</p>
        </div>
    </div>
    <div class="row">
        <div class="one columns">
            <p>40px</p>
        </div>
        <div class="fourteen columns push_one">
            <p>14 Columns Push 1</p>
        </div>
    </div>
    <div class="row">
        <div class="fourteen columns push_two">
            <p>14 Columns Push 2</p>
        </div>
    </div>
    <div class="row">
        <div class="one columns">
            <p>40px</p>
        </div>
        <div class="thirteen columns push_two">
            <p>13 Columns Push 2</p>
        </div>
    </div>
    <div class="row">
        <div class="thirteen columns push_three">
            <p>13 Columns Push 3</p>
        </div>
    </div>
    <div class="row">
        <div class="one columns">
            <p>40px</p>
        </div>
        <div class="twelve columns push_three">
            <p>12 Columns Push 3</p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns push_four">
            <p>12 Columns Push 4</p>
        </div>
    </div>
    <div class="row">
        <div class="one columns">
            <p>40px</p>
        </div>
        <div class="eleven columns push_four">
            <p>11 Columns Push 4</p>
        </div>
    </div>
    <div class="row">
        <div class="eleven columns push_five">
            <p>11 Columns Push 5</p>
        </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="ten columns push_five">
        <p>10 Columns Push 5</p>
      </div>
    </div>
    <div class="row">
      <div class="ten columns push_six">
        <p>10 Columns Push 6</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="nine columns push_six">
        <p>9 Columns Push 6</p>
      </div>
    </div>
    <div class="row">
      <div class="nine columns push_seven">
        <p>9 Columns Push 7</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="eight columns push_seven">
        <p>8 Columns Push 7</p>
      </div>
    </div>
    <div class="row">
      <div class="eight columns push_eight">
        <p>8 Columns Push 8</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="seven columns push_eight">
        <p>7 Columns Push 8</p>
      </div>
    </div>
    <div class="row">
      <div class="seven columns push_nine">
        <p>7 Columns Push 9</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="six columns push_nine">
        <p>6 Columns Push 9</p>
      </div>
    </div>
    <div class="row">
      <div class="six columns push_ten">
        <p>6 Columns Push 10</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="five columns push_ten">
        <p>5 Columns Push 10</p>
      </div>
    </div>
    <div class="row">
      <div class="five columns push_eleven">
        <p>5 Columns Push 11</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="four columns push_eleven">
        <p>4 Columns Push 11</p>
      </div>
    </div>

    <div class="row">
      <div class="four columns push_twelve">
        <p>4 Columns Push 12</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="three columns push_twelve">
        <p>3 Col Push 12</p>
      </div>
    </div>

    <div class="row">
      <div class="three columns push_thirteen">
        <p>3 Col Push 13</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="two columns push_thirteen">
        <p>2 - Push 12</p>
      </div>
    </div>
    <div class="row">
      <div class="two columns push_fourteen">
        <p>2 - Push 14</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns">
        <p>40px</p>
      </div>
      <div class="one columns push_fourteen">
        <p>40px</p>
      </div>
    </div>
    <div class="row">
      <div class="one columns push_fifteen">
        <p>40px</p>
      </div>
    </div>


    <!-- Centering tests -->

    <div class="row">
      <div class="sixteen columns special">
        <p>Centered Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="fifteen columns centered">
        <p>15 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="fourteen columns centered">
        <p>14 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="thirteen columns centered">
        <p>13 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns centered">
        <p>12 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="eleven columns centered">
        <p>11 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="ten columns centered">
        <p>10 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="nine columns centered">
        <p>9 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="eight columns centered">
        <p>8 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="seven columns centered">
        <p>7 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="six columns centered">
        <p>6 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="five columns centered">
        <p>5 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="four columns centered">
        <p>4 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="three columns centered">
        <p>3 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="two columns centered">
        <p>2 Columns</p>
      </div>
    </div>

    <div class="row">
      <div class="one columns centered">
        <p>1 Col</p>
      </div>
    </div>

</div> <!--! end of #container -->

</section>