//ui
.btn,.drawer { margin-bottom:10px; }
.drawer { text-align: center; }
h1.lead { border-bottom: 1px dotted #ccc; margin-bottom: 30px; }
h4.lead { margin-bottom:10px; }
#icon_map ul li { font-size: 16px; }
.smallify { font-size: 13px; }